#root {
  margin: 0 auto;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


/* Welcome Page Styling */
.titleBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titleBar > img {
  padding-left: 1rem;
  width: 20rem;
  margin:0;
  margin-top: 25vh;
}

.movingImg {
  margin-top: 1rem;
  width:10rem;
  animation-name: SlideUp;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;  
}

.titleBar > h1 {
  font-weight: 700 bold;
  font-size: 2.5em;
  margin-top: 0px;
  margin-bottom: 0.3em;
}

@keyframes SlideUp {
  from {
    margin-top: 25vh;
    width: 20rem;
  }
  to {
    margin-top: 1rem;
    width:8rem;
  }
}


/* Setup Page Styling */
.button-panel {
  display: flex;
  place-content: center;
  margin-top: 1.5em;
}

.button-panel button {
  margin: 5px;
}

.setupForm {
  display: flex;
  flex-direction: column;
  animation: scaleUp 1s;
  margin-top: 1.5em;
}

input {
  padding: 0.75em;
  margin:0.5em;
  border: solid 2px #860000; 
  background-color: #fb5858;
  color: white;
  border-radius: 10px;
  font-size: 0.85rem;
  font: inherit;
}

form button {
  margin:0.5em;
}


/* Score Card Styling */
.score-card-container {
  width: 80vw;
  height: 80%;
  animation: scaleUp 1.5s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes scaleUp {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

.score-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 70vh;
  width: 100%;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  color: var(--main-color);
  text-align: center;
  overflow: scroll;
  background-color: #f74a4afb;
  margin-bottom: auto;
}

.score-card h1 {
  margin: 1rem;
  margin-bottom: 0.2rem;
  font-size: x-large;
}

.player-card {
  display: flex;
  flex-direction: column;
}

/* .score-card > div:not(:last-child) {
  border-right: 1px solid var(--main-color);
} */

.player-card p {
  margin: 0;
  font-size: 22px;
}

.total {
  margin-top: auto;
  margin-bottom: 0.5rem;
  font-size: 30px;
}

.score-card-info {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.score-card-info .roundNum {
  color:var(--main-color);
}

.score-card-info .changeMsg {
  color: rgb(238, 227, 227);
  justify-self: center;
}

.game-button-grid {
  justify-self: right;
}
.game-button-grid button:not(:last-child) {
  margin-right: 10px;
}


/* Add Round Modal Styling */
.modal-container {
  position:fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 460px;
  
}

.add-round-modal {
  height: 100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.55); /* Semi-transparent background */
  color: rgb(241, 186, 186);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.add-round-modal.modal-shake {
  animation: shake 0.4s ease-out;
  animation-iteration-count: 2;
  /* transform-origin: center; */
}

.add-round-modal h1 {
  margin-top: 0;
}

.add-round-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.modal-input label {
  font-size: large;
}

.modal-input input {
  padding: 0.6rem;
  margin-right: 0;
  font-size: large;
  width: 75px;
}


.add-round-modal-form button {
  background-color: #aa2b2b;
}

.modal-error-msg {
  width: 90%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-wrap: break-word;
  margin-top: 0.5rem;
  font-size: small;
}


