#root {
  margin: 0 auto;
  color: rgb(5, 5, 31);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


/* Welcome Page Styling */
.titleBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titleBar > img {
  padding-left: 1rem;
  width: 20rem;
  margin:0;
  margin-top: 25vh;
}

.movingImg {
  margin-top: 1rem;
  width:10rem;
  animation-name: SlideUp;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;  
}

.titleBar > h1 {
  font-weight: 700 bold;
  font-size: 2.5em;
  color: var(--main-color);
  margin-top: 5px;
  margin-bottom: 1em;
}

@keyframes SlideUp {
  from {
    margin-top: 25vh;
    width: 20rem;
  }
  to {
    margin-top: 1rem;
    width:8rem;
  }
}


/* Setup Page Styling */
.button-panel {
  display: flex;
  place-content: center;
}

.button-panel button {
  margin: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.75em;
  margin:0.5em;
  border: solid 2px #860000; 
  background-color: #fb5858;
  color: white;
  border-radius: 10px;
  font-size: 0.85rem;
  font: inherit;
}

form button {
  margin:0.5em;
}


/* Score Card Styling */
.score-card-container {
  width: 80vw;
  height: 80vh;
}

.score-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 65vh;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  color: #860000;
  text-align: center;
}

.score-card h1 {
  margin: 1rem;
  margin-bottom: 0;
}

.player-card {
  display: flex;
  flex-direction: column;
}

/* .score-card > div:not(:last-child) {
  border-right: 1px solid var(--main-color);
} */

.player-card p {
  margin: 0;
  font-size: large;
}

.total {
  margin-top: auto;
}

.score-card-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.score-card-info .roundNum {
  color:var(--main-color);
}

.score-card-info .changeMsg {
  color: white;
  justify-self: center;
}

.game-button-grid {
  justify-self: right;
}
.game-button-grid button:not(:last-child) {
  margin-right: 10px;
}


/* Add Round Modal Styling */
.modal-container {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw; 
  min-width: 300px;
  min-height: 400px;
  height: 50vh; 
}
.add-round-modal {
  height: 100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: rgb(241, 186, 186);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px var(--main-color) solid; */
  border-radius: 20px;
  /* animation: fade-in 0.35s; */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.add-round-modal.modal-shake {
  animation: shake 0.5s ease-out;
  animation-iteration-count: 2;
  /* transform-origin: center; */
}

.add-round-modal h1 {
  margin-top: 0;
}

.add-round-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


